<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Image Gallery</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}" />
    </head>
<body>
<ul>
    <li><a class="home" href="/">Home</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/user/registration">Register</a></li>
    <li><a href="/login">Log In</a></li>
</ul>
<br>
<tr th:each="post: ${wallDto.getPostDtoList()}">
    <div class="image-section">
        <div class="author-section">
    <form th:action="@{/user/follow}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${post.getAuthor().getId()}" />
        <div class="author"><div class="author-text">Author:  </div><td th:text="${post.getAuthor().getFirstName()}"/>
            <br>
            <div class="author-text">Description:  </div> <td th:text="${post.getDescription()}"/>
            <br>
            <div class="author-text">Title:  </div> <td  th:text="${post.getTitle()}"/>
            <br></div>
    </form>
    <br>
        </div>
    <img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${wallDto.getImgUtil().getImgData(post.bytePicture)}"/>
        <form th:action="@{/comment/like}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${post.id}" />
            <button type="submit" class="follow-btn" th:text="#{label.form.follow.user}">Like</button>
            <button type="submit" class="like-btn" th:text="#{label.form.like.comment}">Like</button>
            <div class="likes">Likes: <td th:text="${post.getLikeCounter()}"/></div>
        </form>
        <br>
        <br><br>
    <div class="comment-section">Comment Section</div>
        <p class="username-comment" th:each="comment: ${post.getCommentList()}">
        Username: <span th:text="${comment.getAuthor().getFirstName()}">Name </span>
        <br>
        Comment: <span th:text="${comment.getValue()}">Comment </span>
    </p>
    <form th:action="@{/comment/add}" method="POST" enctype="multipart/form-data">
        <div class="add-comment-section">
        <input type="hidden" name="id" th:value="${post.id}" />
       <div class="comment">Comment: <input type="text" class="input-comment" placeholder="Comment" name="value" /></div>
            <button type="submit" class="comment-btn" th:text="#{label.form.add.comment}">Add comment</button>
            <br>
            <br>
        </div>
    </form>
    </div>
</tr>
</body>
</html>