<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Image Gallery</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}" />
    </head>
<body>
<ul>
    <li><a class="home" href="/">Home</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/user/registration">Register</a></li>
</ul>
<br>
<tr th:each="post: ${wallDto.getPostDtoList()}">
    Autor: <td th:text="${post.getAuthor()}"/>
    <br>
    <img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${wallDto.getImgUtil().getImgData(post.bytePicture)}"/>
    <br>
    Opis: <td th:text="${post.getDescription()}"/>
    <br>
    Lajki: <td th:text="${post.getLikeCounter()}"/>
    <br>
    Title: <td  th:text="${post.getTitle()}"/>
    <br>
    Comment: <br>
    <p th:each="comment: ${post.getCommentList()}">
        <span th:text="Name + ${comment.getAuthor().getFirstName()}">Name </span>
        <br>
        <span th:text="Comment + ${comment.getValue()}">Comment </span>
    </p>
    <br>
    <br>
    <form th:action="@{/comment/add}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${post.id}" />
        <p>komentarz: <input type="text" name="value" /></p>
        <button type="submit" class="submit-btn" th:text="#{label.form.add.comment}">Add comment</button>
        <br>
        <br>
    </form>
    <br>
    <br>
    <form th:action="@{/comment/like}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${post.id}" />
        <button type="submit" class="submit-btn" th:text="#{label.form.like.comment}">Like</button>
        <br>
        <br>
    </form>
    <br>
    <br>
    <br>
</tr>

</body>

</html>