<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<ul>
    <li><a class="home" href="/">Home</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/user/registration">Register</a></li>
</ul>
<body>
<h2>Upload your images</h2>
<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="choose-img-btn">
    </div>
    <button type="submit" class="upload-btn">Upload File</button>
</form>
</body>
</html>