<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<ul>
    <li><a class="home" href="/">Home</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/user/registration">Register</a></li>
    <li><a href="/login">Log In</a></li>
</ul>
<body>
<div class="body-class">
<h2>Upload your images</h2>
<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

<form action="#" th:action="@{/upload}" th:object="${post}" method="POST" enctype="multipart/form-data">
    <p>Title <input type="text" class="input-field" placeholder="Title" th:field="*{title}" /></p>
    <p>Description <input type="text" class="input-field" placeholder="Description" th:field="*{description}" /></p>
    <p>Private: <input type="checkbox" th:field="*{private}" /></p>
    <p>Friends only: <input type="checkbox" th:field="*{forFriendsOnly}" /></p>
    <p><input type="file" th:field="*{picture}" multiple="multiple"/>
        <input type="submit" class="upload-btn" value="Upload" />
        <input type="reset" class="upload-btn" value="Reset" /></p>
</form></div>
</body>
</html>